<div class="sidebar bg-secondary">
    <div class="text-title d-flex">
        <img src="../assets/images/logo.png" alt="logo">
        <span class="sidebar-text">Manage</span>
    </div>
    <nav class="sidebar-nav">
        <ul class="sidebar-ul">
            <li class="list-item"><a href="#" class="link-item"> Dashboard</a></li>
            <li class="list-item"><a href="#" class="link-item">Project</a></li>
            <li class="list-item"><a href="#" class="link-item">Employee</a></li>
        </ul>
    </nav>
</div>