<!-- start : first card -->
<div class="p-5">
    <div class="card">
        <figure class="img-wrapper m-0">
            <img src="../assets/images/beach.png" class="card-img-top img-fluid beach-img w-100 h-100" alt="beach-img">
        </figure>

        <div class="card-body">
            <h5 class="card-title fs-5 m-0">Rawai Beach Phuket</h5>
            <div class="">

                <p class="card-text"> <img src="../assets/images/map.png" alt="map" class="map-img pe-1">Aviasales.ru
                    Seaview
                    Phuket office, Phuket, Thailand</p>
            </div>
            <div class="d-flex justify-content-around flex-wrap my-4">
                <div class="text-center">
                    <p class="card-text fs-6 m-0">Views
                    </p>
                    <p class="h3 m-0">65,03,099</p>
                </div>
                <div class="text-center">
                    <p class="card-text fs-6 m-0">Downloads
                    </p>
                    <p class="h3 m-0">23,991</p>
                </div>
            </div>
            <div class="text-center">
                <a href="#" class="btn btn-primary fs-4">See Details</a>
            </div>

        </div>
    </div>
</div>
<!-- End : first card -->

<!-- start : second card -->
<div class="p-5">
    <div class="second-card d-flex">
        <div class="second-card-left p-5">
            <p class="card-text text-light m-0">Course </p>
            <h5 class="card-title fs-4 m-0 color-white my-3 text-w">Digital
                Marketing</h5>
            <p class="color-white text-light m-0">See all chapters <img src="../assets/images/arrow.png" alt="arrow"
                    class="m-0"></p>
        </div>
        <div class="second-card-right p-5 flex-grow-1">
            <div class="d-flex justify-content-between">
                <p class="card-text m-0 fs-6">Chapter 10</p>
                <div class="">
                    <img src="../assets/images/Frame.png" alt="Frame m-0">
                    <p class="card-text m-0 frame-text">03/10 completed</p>
                </div>
            </div>
            <div class="card-title text-dark h1 text-with my-1">
                Social Media Growth
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary">Next Chapter</button>
            </div>
        </div>


    </div>
</div>
<!-- End : second card -->